<div class="container">
<div>
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to 'UserList Page', "/users",class:"link" %>
</div>
  <%= form_with(model: @user, local: true,method: :post) do |form| %>
    <div class="register-form">
        <h1>Register Form</h1>

        <div class="form-group-name">
            <div class="form-group">
                <%= form.label :first_name, "First Name" %>
                <%= form.text_field :first_name, id: "first-name", required: true ,maxlength: 50%>
            </div>

            <div class="form-group">
                <%= form.label :last_name, "Last Name" %>
                <%= form.text_field :last_name, id: "last-name", required: true ,maxlength: 50%>
            </div>
        </div>

         <div class="form-group-dateGender">
            <div class="form-group">
                    <%= form.label :birthday, "Birthday" %>
                    <%= form.date_field :birthday, id: "birthday", placeholder: "dd/mm/yyyy", required: true %>
            </div>

            <div class="form-group-gender">
                    <%= form.label :gender, "Gender" %>
                <div class="gender-group">
                    <div>
                        <%= form.radio_button :gender, "male", id: "male", required: true %>
                        <%= form.label :gender, "Male", for: "male" %>
                    </div>
                    <div>
                        <%= form.radio_button :gender, "female", id: "female", required: true %>
                        <%= form.label :gender, "Female", for: "female" %>
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group-contact">
                <div class="form-group">
                    <%= form.label :email, "Email" %>
                    <%= form.email_field :email, id: "email", required: true ,maxlength: 30%>
                </div>

                <div class="form-group">
                    <%= form.label :phone, "Phone Number" %>
                    <%= form.telephone_field :phone, id: "phone", required: true ,maxlength: 15 ,pattern: "[0-9]*", title: "Phone number should contain only digits"%>
                </div>
            </div>

            <div class="form-group">
                <%= form.label :subject, "Subject" %>
                <%= form.select :subject, options_for_select([["Choose option", ""], ["HTML", "HTML"], ["CSS", "CSS"], ["Javascript", "Javascript"]])%>
            </div>
        </div>
        <%= form.submit "Submit" , class: "btn"%>
    </div>
  <% end %>
</div>