<div class="container">
<div>
    <i class="fa-solid fa-chevron-left"></i>
        <%= link_to 'UserList Page', "/users",class:"link" %>
    </div>
  <%= form_with(model: @user,url:user_new_path, local: true,method: :post) do |form| %>
    <div class="register-form">
        <h1>Register Form</h1>

        <div class="form-group-name">
            <div class="form-group">
                <%= form.label :first_name, "First Name" %>
                <%= form.text_field :first_name, id: "first-name", required: true ,maxlength: 25%>
                <% if @user.errors[:first_name].any? %>
                    <div class="error-message">
                        <%= @user.errors[:first_name].join(", ") %>
                    </div>
                <% end %>
            </div>

            <div class="form-group">
                <%= form.label :last_name, "Last Name" %>
                <%= form.text_field :last_name, id: "last-name", required: true ,maxlength: 25%>
                <% if @user.errors[:last_name].any? %>
                    <div class="error-message">
                        <%= @user.errors[:last_name].join(", ") %>
                    </div>
                <% end %>
            </div>
        </div>

         <div class="form-group-dateGender">
            <div class="form-group">
                    <%= form.label :birthday, "Birthday" %>
                    <%= form.date_field :birthday, id: "birthday", placeholder: "dd/mm/yyyy", required: true ,max: Date.today%>
                    <% if @user.errors[:birthday].any? %>
                        <div class="error-message">
                            <%= @user.errors[:birthday].join(", ") %>
                        </div>
                    <% end %>
            </div>

            <div class="form-group-gender">
                    <%= form.label :gender, "Gender" %>
                <div class="gender-group">
                    <div>
                        <%= form.radio_button :gender, "male", id: "male", required: true %>
                        <%= form.label :gender, "Male", for: "male" %>
                    </div>
                    <div>
                        <%= form.radio_button :gender, "female", id: "female", required: true %>
                        <%= form.label :gender, "Female", for: "female" %>
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group-contact">
                <div class="form-group">
                    <%= form.label :email, "Email" %>
                    <%= form.email_field :email, id: "email", required: true ,maxlength: 25%>
                    <% if @user.errors[:email].any? %>
                        <div class="error-message">
                            <%= @user.errors[:email].join(", ") %>
                        </div>
                    <% end %>
                </div>

                <div class="form-group">
                    <%= form.label :phone, "Phone Number" %>
                    <%= form.telephone_field :phone, id: "phone", required: true, maxlength: 12, data:{ controller: "phone-formatter", phone_formatter_target: "input" } %>
                    <% if @user.errors[:phone].any? %>
                        <div class="error-message">
                            <%= @user.errors[:phone].join(", ") %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="form-group">
                <%= form.label :subject, "Subject" %>
                <%= form.select :subject, options_for_select([["HTML", "HTML"], ["CSS", "CSS"], ["Javascript", "Javascript"]]), { prompt: "Choose option" }, { required: true } %>
            </div>
        </div>
        <%= form.submit "Submit" , class: "btn"%>
    </div>
  <% end %>
</div>