<div class="show-container">
<h1>Users List</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Subject</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.gender %></td>
        <td><%= user.birthday %></td>
        <td><%= user.subject %></td>
        <td>
             <%= form_with url: user_path(user), method: :delete, local: true do %>
              <div class="div-button">
                <button type="submit" class="delete-button">
                  <i class="fa-solid fa-trash fa-xl" style="color: #ae446e;"></i>
                </button>
              </div>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>